/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#gameContainer {
    width: 960px;
    height: 600px;
}
#game {
    width: 960px;
    height: 600px;
    margin: 0 auto 45px auto;
    position: relative;
}
ul.circle-list,
ul.circle-list > li,
li.circle-list {
    list-style: circle outside;
}

ul.circle-list > li,
li.circle-list {
    margin-left: 20px;
}
.breadcrumbs {
    padding-left: 10px;
}
body nav.nav-small {
    padding: 5px 0;
}
.hoverable.clickable {
    cursor: pointer;
}

@media only screen and (min-width: 601px) {
    body nav.nav-small,
    body nav.nav-small .nav-wrapper i,
    body nav.nav-small .breadcrumb,
    body nav.nav-small .breadcrumb:before,
    body nav.nav-small a.button-collapse,
    body nav.nav-small a.button-collapse i
    {
        font-size: 16px;
        height: auto;
        line-height: inherit;
    }
}
